{layout name="layout" /}
<link rel="stylesheet" href="/css/admin/main/main.css" />

{literal}
  <style>
  .div1 {
            background-color: lightseagreen;
            width: 15%;
            height: 100%;
            float: left;
        }
 
        .div2 {
            background-color: chocolate;
            height: 100%;
            width:85%;
            float: left;
        }
    </style>
{/literal}
<div>
	<span>用户名：{$user->user_name}</span>
	<span>积分：{$user->user_point}</span>
	<span>威望：{$user->user_prestige}</span>
	<span>财富：{$user->user_wealth}</span>
</div>

<div>
	
<ul id="menu">
	 <li><a href="{:url('/index/main/main')}">返回最顶级</a></li>
	 <li><a href="{:url('/index/note/editNote')}">新增分类</a></li>
</ul>
</div>
<br />
<br />
<span>目录</span>
<div id= 'note' style="border: 1px solid #bbb">
	<table>
		<tr>
			{foreach $data as $item}
			<td><a type="button" name="" href="{:url('/index/note/scanNote/noteId/' . $item.note_id)}" title="{$item.note_name}">{$item.note_name}</a></td>
			{/foreach}
		</tr>
	</table>
</div>
	<div id='title'  class="div1">
	<span>文章</span>
	<table align="center">
			{foreach $book as $item}
			<tr>
				<td>
					<a href="#" onclick="changeBooks('{:url("index/book/getBook", ["book_id" => $item.book_id])}', {$item.book_id})" title="{$item.book_title}">{$item.book_title}</a>
				</td>
			</tr>
			{/foreach}

			<tr>
				<td>
					<a href="{$addUrl}">新增文章</a>
				</td>
			</tr>
	</table>	
	</div>

	<div class="div2">
		<table align="center">
			<tr>
				<td>
					<span id="title">内容</span>
				</td>
			</tr>
			<tr>
				<td>
					<form method="post" action="{:url('/index/book/updateBooks')}">
						<textarea id='contect'rows="20" cols="50" onblur="validateText()" name="book_text"></textarea>
						<input type="submit" value="保存" style="display: none" width="50px">
						<input type="hidden" name="bookId" value="">
					</form>
				</td>
			</tr>
		</table>
	</div>

{literal}
<script type="text/javascript">
	function changeBooks(url, bookId)
	{
		$.get(url, null, function(contect){
			contect = contect.substring(1, contect.length-1);
			$('#contect').next().hide();
			$('#contect').next().next().val(bookId);
			$('#contect').text(contect);
			$('#contect').val(contect);
		}, 'text');
	}

	function validateText()
	{
		if (($('#contect').val()) != $('#contect').text())
		{
			$('#contect').next().show(500);
		}
		else
		{
			$('#contect').next().hide(500);
		}
	}
</script>
{/literal}