{layout name="layout" /}

	<link rel="stylesheet" href="/css/simple.css" />
	<script type="text/javascript" src="/js/adminIndex.js"></script>

<div style="float:right;">
	<a href="{{ loginUrl }}">登录</a>
	<a href="{{ register }}">注册</a>
</div>
<br />
<div>
	<form action= "{{ loginUrl }}" method="post">
	账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input type="text" name="userName" value="">		
	<br />
	密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="userPassword" value="">	
	<br />
	验 证 码：<input type="test" name="validateCode" value="">		
	<div>{:captcha_img()}</div>
	<br />
	<input id='login'  type="submit" value="登录" class="widthly" > <a href="{:url('/index/user/forgetPassword')}">忘记密码？修改</a>
	</form>
</div>

<div>
	{{ data['name'] }} <br />
	{{ data['message'] }}
	{% for i in range(0,3) %}
	<br />	{{i}}		
	{% endfor %}	
</div>