{layout name="layout" /}


<div  style="float:right;">
	<a href="{:url('index/Index/index')}">登录</a>
	<a href="{:url('index/Index/register')}">注册</a>
</div>
<br />
<div>
	<form action= "{:url('index/User/addUser')}" method="post" onsubmit="return validate()">
		<table align="center">
			<tr>
				<td>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</td>
				<td><input type="text" name="userName" onblur="validateUserName('{:url('index/User/validateUserName')}')"><span></span></td>
			</tr>
			<tr>
				<td>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
				<td><input type="password" name="userPassword" value=""></td>
			</tr>
			<tr>
				<td>重复密码：</td>
				<td><input type="password" name="userPasswordTwo" value="">	</td>
			</tr>
			<tr>
				<td>密保问题：</td>
				<td>
					<select name="question_id">
						{volist name="question" id="vo"}
							<option value="{$vo.question_id}">{$vo.question}</option>
						{/volist}
				    </select> 
			</td>
			</tr>
			<tr>
				<td>回答：</td>
				<td><input type="test" name="answer" value=""></td>
			</tr>
			<tr>
				<td>验 证 码：</td>
				<td><input type="test" name="validateCode" value=""></td>
			</tr>
		</table>
	<div>{:captcha_img()}</div>
	<br />
	<input id='register'  type="submit" value="注册" class="widthly" >
	</form>
</div>

{literal}
<script type="text/javascript">
	var validateName = false;
	function validate()
	{
		if($("input[name='userPassword']").val() != $("input[name='userPasswordTwo']").val())
		{
			console.log($("input[name='userPassword']").val());
			console.log('俩次密码不一样');
			console.log($("input[name='userPasswordTwo']").val());
			return false;
		}
		
		if ($("input['name'=answer]").val().trim().length == 0)
		{
			console.log(11);
			return false;
		}

		return validateName;
	}

	function validateUserName(url)	
	{
		if (($("input[name='userName']").val()).trim().length == 0)
		{
			return;
		}

		$.ajax({
			url : url,
			type : 'post',
			dataType : 'json',
			timeout : 3000,
			data : {
				userName : $("input[name='userName']").val().trim()
			},
			success : function(result){
				validateName = result['result'];
				$('span').html(result['message']);
			},
			error : function (result){
				$('span').html('该用户名已经存在');
			}
		});
	}
</script>
{/literal}

