{layout name="layout" /}

<div align="center">
	<form method="post" action="{:url('/index/user/editPassword')}" onsubmit="return checkForm()">
	<table>
		<tr>
			<td>账号：</td>
			<td><input type="text" name="user_name" value=""></td>
		</tr>
		<tr>
			<td>密保选择：</td>
			<td>	
				<select name="question_id">
					{volist name="question" id="vo"}
						<option value="{$vo.question_id}">{$vo.question}</option>
					{/volist}
			    </select> 
			</td>
		</tr>
		<tr>
			<td>答案：</td>
			<td><input type="text" name="answer" value=""></td>
		</tr>

		<tr>
			<td>新密码：</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>重复新密码：</td>
			<td><input type="password" name="userPasswordTwo"></td>
		</tr>
		<tr>
			<td>验 证 码：</td>
			<td><input type="text" name="validateCode" value=""></td>
		</tr>
	</table>
	<div>{:captcha_img()}</div>
	<br />
	<input type="submit" value="修改">
	<input type="button" name="" value="取消" onclick="cancel()">
	</form>
</div>

{literal}
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
	function checkForm()
	{
		if ($("input[name='password']").val().trim() != $("input[name='userPasswordTwo']").val().trim())
		{
			alert('两次密码不一样');
			return false;
		}
		return true;
	}
</script>
{/literal}